@import "assets/styles/variaveis.scss";

.container {
  display: flex;
  color: $branco;
  font-size: 1.5rem;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    #1a232c 34.74%,
    rgba(16, 215, 226, 0) 88%
  );
  padding: 0 4.25rem;
  .container__texts {
    display: flex;
    flex-direction: column;
  }
}
