.formacao-academica {
  margin-top: 2rem;

  &__titulo {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  &__carrossel {
    width: 100%;
    margin-top: 2rem;

    .rec.rec-arrow {
      background-color: #f2f2f2;
      border: none;
      color: #555;
      font-size: 1.5rem;
      padding: 0.5rem;
      border-radius: 50%;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      transition: all 0.3s;

      &:hover {
        background-color: #555;
        color: #fff;
        cursor: pointer;
        transform: translateY(-2px);
      }
    }

    .rec.rec-arrow:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    .rec.rec-dot {
      background-color: #ccc;
      box-shadow: none;
      border: none;

      &:hover {
        background-color: #555;
        cursor: pointer;
      }

      &.rec-dot_active {
        background-color: #555;
      }
    }
  }

  .formacao {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-right: 1.5rem;
    padding: 1rem;
    width: 30rem;
    height: 12rem;
    overflow: hidden;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-2px);
    }

    img {
      height: 6rem;
      margin-right: 1.5rem;
      width: 6rem;
    }

    .curso {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .empresa {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .nome-curso {
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 1rem;
      }

      .data {
        font-size: 1.2rem;
        margin-top: 1rem;
      }
    }
  }
}
